html, body{
   overflow-x: hidden;
 }
 a {
  text-decoration: none;
 }

/* GRID */
.container {
 margin-right: auto;
 margin-left: auto;
 padding-left: 15px;
 padding-right: 15px;
 position: relative;
}
.container:before,
.container:after {
 content: " ";
 display: table;
}
.container:after {
 clear: both;
}
.one-half, .one-fourth {
 width:96%;
 float:left;
 position:relative;
 min-height: 1px;
 margin:0 2% 20px;
}
.one-third {
  float:left;
  position:relative;
  min-height: 1px;
  margin:0;
}

header {
  background-color: #212121;
  text-align: center;
  margin:0 auto;
}
header h2 {
  font-size:18px;
  color:#EBABB2;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 100;
}
header ul.nav-items {
  position:relative;
  display: block;
  margin: 1em auto;
  list-style-type: none;
  padding: 0;
}
header ul.nav-items li {
  display: inline-block;
  margin-left:10px;
}
header nav {
  background-color: #F1DEBC;
}
header nav ul {
  display: block;
  padding:10px 0;
  list-style-type: none;
  text-align: left;
  margin:0;
}
header nav ul li {
  display: block;
  font-size:16px;
  text-transform: uppercase;
  margin:10px auto;
  text-align: center;
}
header nav ul li a {
  color:#000;
}
header nav ul li a:hover {
  color: #000;
  font-weight: 700;
} 
.hero {
  background: url(../images/hero.jpg) top center no-repeat;
  background-size: cover;
  min-height: 450px;
  text-align: center;
}
.text-hero {
  background-color: #000;
  border: 8px solid white;
  box-shadow: 0 0 0 10px #000;
  color: white;
  display: inline-block;
  width:360px;
  margin:8em 0;
  padding:20px;
}
.text-hero h1 {
  font-weight: 100;
  font-size: 22px;
  line-height: 1.4;
}
.text-hero h2 {
  font-size: 22px;
  color:#EBABB2;
}

.about {
  background: url(../images/sliderbg.png) center -15em no-repeat;
  font-family: 'Sorts Mill Goudy', serif;
  color: #4A4A4A;
  padding:10em 0 2em;
}
.about .text-about {
  width: 100%;
  /*margin-left: 15%;*/
  text-align: center;
  font-size: 20px;
}

.about ul {
  display: block;
  padding:0;
}

.about ul li {
  display:inline-block;
  list-style-type: none;
  text-align: center;
  text-transform: uppercase;
  margin:10px 20px;
  width:100px;
}
.about ul li img {
  display: block;
  margin:0 auto 10px;
}
li.one-third {
  list-style-type: none;
  padding:0;
  margin:0;
  display:inline-block;
}
.showcase {
  display:block;
  position:relative;
}
.showcase:before,
.showcase:after {
 content: " ";
 display: table;
}
.showcase:after {
 clear: both;
}
.showcase ul {
  margin:0;
  padding:0;
}
.herb, .olives,.flowers {
  min-height: 600px;
}
.herb a, .olives a, .flowers a {
  color:#fff;
  font-weight:400;
  text-transform: uppercase;
  font-size:16px;
  padding:5px 10px;
  background: #EBABB2;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
  border-radius: 20px;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  margin:10px auto;
  display: block;
  width: 250px;
}
.herb:after {
  content: "";
  background: url(../images/Herb-Bckgrd.png);
  opacity: 0.81;
  background-size:cover;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
.olives:after {
  content: "";
  background: url(../images/Olives-Bckgrd.png);
  opacity: 0.81;
  background-size:cover;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
.flowers:after {
  content: "";
  background: url(../images/Peony-Bckgrd.png);
  opacity: 0.81;
  background-size:cover;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
.herb {
  /*background: url(../images/Herb-Bckgrd.png) top center no-repeat;*/
  font-family: 'Sorts Mill Goudy', serif;
  /*background-size:cover;*/
  color: #4A4A4A;
  /*padding:40px;*/

}
.olives {
  /*background: url(../images/Olives-Bckgrd.png) top center no-repeat;*/
  font-family: 'Sorts Mill Goudy', serif;
  /*background-size:cover;*/
  color: #4A4A4A;
  /*padding:40px;*/

}
.flowers {
  /*background: url(../images/Peony-Bckgrd.png) top center no-repeat;*/
  font-family: 'Sorts Mill Goudy', serif;
  /*background-size: cover;*/
  color: #4A4A4A;
  /*padding:40px;*/

}
.text-showcase {
  background:rgba(255,255,255, 0.8);
  padding:20px;
  margin:40px 40px 0;
  min-height: 230px;
}
.herb div h3, .olives div h3, .flowers div h3 {
  font-size:26px;
  text-transform: uppercase;
  font-weight: 100;
  padding:20px 20px 0px;
  margin:0;
  text-align: center;
}
.herb div p, .olives div p, .flowers div p {
  padding:0px 20px 20px;
  margin:0;
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
  font-size: 16.77px;
  color: rgba(73,73,73,0.70);
  line-height: 20px;
}
.herb img, .olives img, .flowers img {
  text-align: center;
  margin:40px auto;
  display: block;
}
.text-points {
  background-color: #000;
  border: 8px solid white;
  box-shadow: 0 0 0 10px #000;
  color: #EBABB2;
  display: block;
  width:60%;
  margin:6em auto 2em;
  padding:20px;
  text-align: center;
}
.text-points h3 {
  font-weight: 100;
  font-size: 22px;
  line-height: 1.4;
  text-transform: uppercase;
}
.text-points p {
  font-size: 19px;
}
.text-points p:hover {
  color: #fff; 
}
.slider {
  background: url(../images/sliderbg.png) center 36em no-repeat;
  padding-bottom: 6em;
  min-height: 450px;
  text-align: center;
}
footer {
  background-color: #212121;
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
  margin: 0 auto;
}
.nav-footer ul, .social-footer ul {
  display:block;
}
nav ul li {
  display: inline-block;
  list-style-type: none;
  margin:5px 10px;
}
.nav-footer ul li a:hover {
  color: #EBABB2; 
}

.subfooter {
  margin:0 0 14px;
  padding:0;
}
.subfooter p {
  display:inline-block;
  color:#fff;
  font-weight:100;
  font-size: 14px;
  margin:0;
}
.subfooter nav {
  display:inline-block;
  margin:0;
}
.subfooter nav ul {
  margin:0;
  padding:0;
}
.subfooter nav ul li a {
  font-weight: 100;
  font-size:14px;
}
.subfooter nav ul li a:hover {
  color: #EBABB2; 
}
footer nav ul li a {
  color:#fff;
  font-size:18px;
}
.bottombar {
  background: rgba(235,209,160, 0.7);
  height:48px;
}
.carousel-wrapper {
  width:80%;
  display: block;
  margin:0 auto 100px;
}
.carousel {
  text-align: center;
}
.carousel img {
  text-align: center;
  margin:0 auto;
}
.carousel a {
  color: rgba(73,73,73,0.70);
}
.transparency {
  background:rgba(0,0,0,.2);
  padding:17px 0;
}

@media (min-width: 768px) {
 .container {
   width: 750px;
 }
 .herb, .flowers, .olives {
  min-height:560px;
 }
 .text-showcase {
  min-height:130px;
 }
 header nav ul li {
    display: inline-block;
    font-size:16px;
    text-transform: uppercase;
    margin-right:10px;
  }
}
@media (min-width: 992px) {
 .container {
   width: 970px;
 }
 .one-half {
   width:46%;
 }
 .one-third {
   width:33.33333%;
 }
 .one-fourth {
   width:21%;
 }
 header ul.nav-items {
    position:absolute;
    right:0;
    list-style-type: none;
  }
 .about {
    background: url(../images/pattern.png) right -5em no-repeat;
    padding:2em 0;
  }
 .about .text-about {
  margin-left: 15%;
  width:45%;
 }
 .text-showcase {
  min-height: 260px;
 }
 .slider {
    background: url(../images/sliderbg.png) center 20em no-repeat;
    padding-bottom: 6em;
    min-height: 450px;
    text-align: center;
  }
  .text-points {
    background-color: #000;
    border: 8px solid white;
    box-shadow: 0 0 0 10px #000;
    color: #EBABB2;
    display: inline-block;
    float:left;
    width:200px;
    margin:6em 0;
    padding:20px;
    text-align: center;
  }
  .carousel-wrapper {
    width:60%;
    display: inline-block;
    margin:100px 0;
  }
}
@media (min-width: 1200px) {
 .container {
   width: 1170px;
 }
 .about .text-about {
  margin-left: 15%;
  width:40%;
 }
 .text-showcase {
  min-height: 200px;
 }
}