html, body{
   overflow-x: hidden;
 }

/* GRID */
.container {
 margin-right: auto;
 margin-left: auto;
 padding-left: 15px;
 padding-right: 15px;
 position: relative;
}
.container:before,
.container:after {
 content: " ";
 display: table;
}
.container:after {
 clear: both;
}
.one-half, .one-third, .one-fourth {
 width:96%;
 float:left;
 position:relative;
 min-height: 1px;
 margin:0 2% 20px;
}
@media (min-width: 768px) {
 .container {
   width: 750px;
 }
}
@media (min-width: 992px) {
 .container {
   width: 970px;
 }
 .one-half {
   width:46%;
 }
 .one-third {
   width:29.33333%;
 }
 .one-fourth {
   width:21%;
 }
}
@media (min-width: 1200px) {
 .container {
   width: 1170px;
 }
}

header {
  background-color: #212121;
  text-align: center;
  margin:0 auto;
}
header h2 {
  font-size:18px;
  color:#EBABB2;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 100;
}
header nav {
  background-color: #EBD1A0;
}
header nav ul {
  display: block;
  padding:10px 0;
  list-style-type: none;
  text-align: left;
  margin:0;
}
header nav ul li {
  display: inline-block;
  font-size:16px;
  text-transform: uppercase;
  margin-right:10px;
}
header nav ul li a {
  text-decoration: none;
  color:#000;
}
.hero {
  background: url(../images/hero.jpg) top center no-repeat;
  background-size: cover;
  min-height: 450px;
  text-align: center;
}
.text-hero {
  background-color: #000;
  border: 8px solid white;
  box-shadow: 0 0 0 10px #000;
  color: white;
  display: inline-block;
  width:360px;
  margin:8em 0;
  padding:20px;
}
.text-hero h1 {
  font-weight: 100;
  font-size:22px;
  line-height: 1.4;
}
.text-hero h2 {
  font-size:22px;
  color:#EBABB2;
}

.about {
  background: url(../images/pattern.png) right -5em no-repeat;
  font-family: 'Sorts Mill Goudy', serif;
  color: #4A4A4A;
}
.about ul {
  display: block;
  padding:0;
}
.about ul li {
  display:inline-block;
  list-style-type: none;
  text-align: center;
  text-transform: uppercase;
}
.about ul li img {
  display: block;
}